@charset "utf-8";
/* css reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ margin:0; padding:0;}
h1, h2, h3, h4, h5, h6{ font-weight:normal; font-size:100%;}
address,caption,cite,code,dfn,em,th,var { font-weight:normal; font-style:normal;} 
table{ border-collapse:collapse; border-spacing:0;}
fieldset,img,abbr,acronym{border:0;}
input,textarea,select{ font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; font-size:12px;}
caption,th{ text-align:left;}
q:before, q:after{ content: '';}
ul,ol,dl{ list-style:none;}

.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix{display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */

/*common style*/
body{ background:url(../images/bg_body.jpg) no-repeat center 0 #000807; font:normal 12px/1.5 "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; color:#769FA3;}
a:link,a:visited{ text-decoration:none; color:#769FA3;}
a:hover,a:active{ text-decoration:none; color:#FFF;}

#header,#wrapper,#footer{ width:980px; margin:0 auto;}
#headerWrapper{ background:url(../images/bg_header.jpg) no-repeat center top;}
#footerWrapper{ background:url(../images/bg_footer.png) no-repeat center top; height:110px;}
#header{ height:100px;}
#sidebar{ float:left; width:200px;}
#mainContent{ float:left; width:600px; margin:0 10px; _display:inline;}
#subContent{ float:right; width:160px;}
#main{ float:right; width:770px;}

.b{ font-weight:bold;}
.u{ text-decoration:underline;}
.orange{ color:#FC0;}

/*header*/
.logo{ float:left; width:230px; margin-top:8px; font:0/0 Arial;}
.nav{ float:left; margin-top:25px; height:40px;}
.nav li{ float:left; height:24px; padding:10px 13px 6px 11px; background:url(../images/sprites_header.png) no-repeat right 0;}
.nav li.last{ background:none;}
.nav a{ display:block; padding:5px; height:14px; text-indent:-999em; overflow:hidden; background:url(../images/sprites_header.png) no-repeat;}
.nav li.s1 a:link,.nav li.s1 a:visited{ width:36px; background-position:0 -45px;}
.nav li.s1 a:hover,.nav li.s1 a:active{ background-position:0 -70px;}
.nav li.s2 a:link,.nav li.s2 a:visited{ width:92px; background-position:-60px -45px;}
.nav li.s2 a:hover,.nav li.s2 a:active{ background-position:-60px -70px;}
.nav li.s3 a:link,.nav li.s3 a:visited{ width:52px; background-position:-175px -45px;}
.nav li.s3 a:hover,.nav li.s3 a:active{ background-position:-175px -70px;}
.nav li.s4 a:link,.nav li.s4 a:visited{ width:101px; background-position:-255px -45px;}
.nav li.s4 a:hover,.nav li.s4 a:active{ background-position:-255px -70px;}
.nav li.s5 a:link,.nav li.s5 a:visited{ width:41px; background-position:-385px -45px;}
.nav li.s5 a:hover,.nav li.s5 a:active{ background-position:-385px -70px;}
.nav li.s6 a:link,.nav li.s6 a:visited{ width:29px; background-position:-455px -45px;}
.nav li.s6 a:hover,.nav li.s6 a:active{ background-position:-455px -70px;}
.searchPannel{ float:right; width:140px; height:20px; margin-top:35px; background:url(../images/sprites_header.png) no-repeat 0 -110px; position:relative; z-index:1;}
.searchPannel .label{ float:left; display:block; width:24px; height:20px; text-indent:-999em; overflow:hidden;}
.searchPannel .input{ float:left; padding:2px 0; _padding:1px 0;}
.searchPannel .input input{ border:none; background:none; width:96px; height:16px; line-height:16px; color:#000;}
.searchPannel .reset{ margin:5px 0 0 122px; _margin:5px 0 0 119px; width:12px; height:12px; overflow:hidden;}
.searchPannel .reset .btn{ display:block; width:12px; height:12px; background:url(../images/sprites_header.png) no-repeat -200px -110px; text-indent:-999em; overflow:hidden;}
.searchResult{ position:absolute; top:44px; right:-4px; width:308px; background:url(../images/sprites_header.png) no-repeat -370px bottom; padding-bottom:7px;}
.searchResult .searchHead,.searchResult .searchTip{ position:relative; z-index:1; margin:-9px 5px 0 5px; height:25px; color:#CCD2DC; font-weight:bold; line-height:25px;}
.searchResult .searchHead{ width:298px; text-indent:14px; background:url(../images/sprites_header.png) 0 -280px;}
.searchResult .searchTip{ padding-right:32px; background:url(../images/sprites_header.png) no-repeat 0 -310px; text-align:right;}
.searchResult .list{ padding:5px 14px 10px 14px; width:280px; font-size:11px;}
.searchResult .list dl{ clear:both; margin:1px 0; height:102px;}
.searchResult .list dt{ float:left; width:60px; height:90px; padding:6px; font:0/0 Arial; background:url(../images/sprites_header.png) no-repeat 0 -150px;}
.searchResult .list dd{ float:left; margin:6px 0 0 8px; _display:inline;}
.searchResult .list .title{ font-weight:bold;}
.searchResult .rateResult{ display:block; margin:6px 0; height:11px; width:75px; text-indent:-999em; overflow:hidden; background:url(../images/sprites_header.png) no-repeat;}
.searchResult .star0{ background-position:-150px -150px;}
.searchResult .star1{ background-position:-150px -170px;}
.searchResult .star2{ background-position:-150px -190px;}
.searchResult .star3{ background-position:-150px -210px;}
.searchResult .star4{ background-position:-150px -230px;}
.searchResult .star5{ background-position:-150px -250px;}
.searchResult .btnDownload:link,.searchResult .btnDownload:visited{ margin:6px 0; width:75px; height:24px; display:block; text-indent:-999em; overflow:hidden; background:url(../images/sprites_header.png) no-repeat 0 -350px;}
.searchResult .btnDownload:hover,.searchResult .btnDownload:active{ background:url(../images/sprites_header.png) no-repeat 0 -380px;}

/*footer*/
#footer{ padding-top:35px; text-align:center; color:#527679;}
#footer a:link,#footer a:visited{ color:#527679;}
#footer a:hover,#footer a:active{ color:#769FA3;}
.footerNav{ padding-left:100px;}
.copyright{ float:left;}

/*sidebar*/
#sidebar a:link,#sidebar a:visited{ color:#9FBCBF;}
#sidebar a:hover,#sidebar a:active{ color:#FFF;}
.sideCol{ width:200px; padding-bottom:8px; background:url(../images/sprites_box.png) no-repeat -200px bottom; margin-bottom:10px;}
.sideColHead{ height:35px; background:url(../images/sprites_box.png) no-repeat; text-indent:18px; line-height:35px;}
.sideColContent{ background:url(../images/sprites_box.png) no-repeat 0 -35px; min-height:200px; _height:300px;}
.sideMenu{ width:182px; padding:5px 9px;}
.sideMenu li{ height:24px; padding:1px 0;}
.sideMenu a:link,.sideMenu a:visited{ display:block; height:24px; padding-left:20px; line-height:22px; background:url(../images/sprites_common.png) no-repeat 0 0;}
.sideMenu a:hover,.sideMenu a:active{ background:url(../images/sprites_common.png) no-repeat -190px 0;}
.sideTags{ width:180px; padding:5px 10px;}
.sideTags li{ float:left; white-space:nowrap; margin:3px 6px 0 6px; _display:inline;}

/*theme list layout*/
.themeList dl{ width:138px; height:260px; background:url(../images/sprites_common.png) no-repeat 0 -80px;}
.themeList dt{ height:22px; text-align:center; line-height:22px;}
.themeList .themeCut{ padding:10px 12px; width:114px; height:170px;}
.themeList .themeCut a:link,.themeList .themeCut a:visited{ padding:1px; display:block; width:112px; height:168px; font:0/0 Arial;}
.themeList .themeCut a:hover,.themeList .themeCut a:active{ padding:0; border:1px solid #2D494B;}
.themeList .rateResult{ display:block; width:92px; height:16px; margin:0 auto; text-indent:-999em; overflow:hidden; background:url(../images/sprites_common.png) no-repeat;}
.themeList .star0{ background-position:-160px -100px;}
.themeList .star1{ background-position:-160px -120px;}
.themeList .star2{ background-position:-160px -140px;}
.themeList .star3{ background-position:-160px -160px;}
.themeList .star4{ background-position:-160px -180px;}
.themeList .star5{ background-position:-160px -200px;}
.themeList .btnDownload{ margin:8px auto 0 auto; width:122px; height:24px;}
.themeList .btnDownload a:link,.themeList .btnDownload a:visited{ display:block; height:24px; background:url(../images/sprites_common.png) no-repeat -280px -100px; text-indent:-999px; overflow:hidden;}
.themeList .btnDownload a:hover,.themeList .btnDownload a:active{ background:url(../images/sprites_common.png) no-repeat -280px -130px;}

/*homepage*/
.colTitle{ font-weight:bold; font-size:13px; color:#CCD4DC;}
.mainCol{ width:600px; background:url(../images/sprites_box.png) no-repeat -400px 0; padding-top:2px; margin-bottom:10px;}
.mainColHead{ margin:0 2px; background:url(../images/sprites_common.png) no-repeat 0 -40px; height:34px;}
.mainColHead .colTitle{ line-height:32px; float:left; padding:0 16px;}
.colMore{ float:right; margin:8px 14px 0 0; _display:inline; font-size:9px;}
.colMore a:link,.colMore a:visited{ padding-right:8px; background:url(../images/sprites_common.png) no-repeat right -96px;}
.colMore a:hover,.colMore a:active{ background:url(../images/sprites_common.png) no-repeat right -116px;}
.mainColContent{ background:url(../images/sprites_box.png) no-repeat -1000px bottom; padding:0 7px 18px 7px;}
.mainCol .themeList dl{ float:left; margin:7px 0 0 7px; _display:inline;}
.mainColTab{ float:right; margin:8px 20px 0 0; height:25px; _display:inline;}
.mainColTab li{ float:left; width:51px; text-align:center; padding:1px 0; height:23px;}
.mainColTab li a{ display:block; height:23px; line-height:20px;}
.mainColTab li.selected{ padding:1px 10px; background:url(../images/sprites_common.png) no-repeat -709px -150px;}
.mainColTab li a:link,.mainColTab li a:visited{ color:#9FBCBF;}
.mainColTab li a:hover,.mainColTab li a:active,.mainColTab li.selected a{ color:#CCD3DC;}
.subCol{ width:160px; background:url(../images/sprites_box.png) no-repeat -1760px bottom; padding-bottom:8px; margin-bottom:8px;}
.subColHead{ height:35px; background:url(../images/sprites_common.png) no-repeat 0 -350px; text-indent:18px; line-height:35px;}
.subColContent{ background:url(../images/sprites_box.png) repeat-y -1600px 0;}

/*sub content*/
.subHelp{ padding:5px 10px;}
.subHelp li{ background:url(../images/sprites_common.png) no-repeat -771px -340px; padding:5px 0 0 12px;}
.subCol .themeList dl{ margin:0 auto; padding-bottom:7px;}
.subCol .themeList{ padding:5px 0;}

/*breadcrumb*/
.pageGuide{ width:770px; height:35px; background:url(../images/sprites_common.png) no-repeat 0 -400px;}
.breadcrumb{ float:left;}
.breadcrumb li{ float:left; margin:1px 0; padding:7px 5px 0 21px; height:26px; background:url(../images/sprites_common.png) no-repeat -767px -440px;}
.breadcrumb li a:link,.breadcrumb li a:visited{ color:#CCD2DC;}
.breadcrumb li a:hover,.breadcrumb li a:active{ color:#FFF;}
.breadcrumb li.home{ padding:5px 0 0 8px; background:none;}
.breadcrumb li.home a:link,.breadcrumb li.home a:visited{ display:block; width:23px; height:22px; text-indent:-999em; overflow:hidden; background:url(../images/sprites_common.png) no-repeat 0 -440px;}
.breadcrumb li.home a:hover,.breadcrumb li.home a:active{ background:url(../images/sprites_common.png) no-repeat -30px -440px;}
.listSelect{ margin-top:10px; width:770px; padding-top:8px; background:url(../images/sprites_box_wide.png) no-repeat;}
.selectedTags{ width:770px; background:url(../images/sprites_box_wide.png) no-repeat -770px 0; color:#CCD2DC;}
.selectedTags dl,.selectedTags .tips{ width:756px; padding:4px 0 9px 0; background:url(../images/sprites_box_wide.png) no-repeat 0 bottom;}
.selectedTags .tips{ padding-left:20px; width:736px;}
.selectedTags dt{ float:left; width:126px; text-align:right; margin-top:5px;}
.selectedTags dd{ margin-left:126px; _margin-left:123px; padding-right:20px;}
.selectedTags dd a:link,.selectedTags dd a:visited{ float:left; display:block; margin:5px 0 0 5px; height:18px; line-height:18px; padding:0 20px 0 5px; white-space:nowrap; color:#9FBBBF; background:url(../images/sprites_common.png) no-repeat right -480px; border:1px solid #366061;}
.selectedTags dd a:hover,.selectedTags dd a:active{ border:1px solid #56989A; color:#CCD2DC;}
.selectTags{ width:756px; background:url(../images/sprites_box_wide.png) no-repeat -770px bottom; padding:0 7px 8px 7px;}
.selectTags dl{ width:756px; padding:9px 0; background:url(../images/sprites_box_wide.png) no-repeat 0 bottom; line-height:20px;}
.selectTags dl.last{ background:none;}
.selectTags dt{ float:left; width:80px; text-align:right; color:#CCD2DC;}
.selectTags dd{ float:left; width:676px;}
.selectTags dd li{ float:left; background:url(../images/sprites_common.png) no-repeat right -500px; padding:0 12px; white-space:nowrap;}
.selectTags dd a:link,.selectTags dd a:visited{ color:#91B1B5;}
.selectTags dd a:hover,.selectTags dd a:active{ color:#FFF;}

/*themes list*/
.lists{ margin-top:10px; width:770px; background:url(../images/sprites_box_wide.png) no-repeat -1540px 0;}
.listsSort{ padding:10px 20px 0 20px; height:24px; color:#9FBBBF;}
.listsSort dt{ float:left; padding-right:5px;}
.listsSort dd{ float:left; text-align:center; padding:0 3px 4px 3px;}
.listsSort dd.selected{ background:url(../images/ico_arrow_sort.png) no-repeat center bottom;}
.listsSort dd.selected a{ color:#FFF;}
.lists .themeList{ background:url(../images/sprites_box_wide.png) no-repeat -2310px bottom; padding:0 15px 20px 15px;}
.lists .themeList dl{ float:left; _display:inline; margin:10px 5px 0 5px;}

/*pageInfo*/
.pageInfo{ margin-top:6px; width:770px; height:45px; background:url(../images/sprites_common.png) no-repeat 0 -530px;}
.pageInfo .pageNumber{ float:left; padding-left:15px;}
.pageInfo .pageNumber li{ float:left; padding:15px 7px 0 7px; height:30px;}
.pageInfo .previous,.pageInfo .next{ height:20px; text-align:left;}
.pageInfo .previous a:link,pageInfo .previous a:visited{ background:url(../images/sprites_common.png) no-repeat left -590px; padding-left:8px;}
.pageInfo .previous a:hover,pageInfo .previous a:active{ background:url(../images/sprites_common.png) no-repeat left -610px;}
.pageInfo .next a:link,.pageInfo .next a:visited{ background:url(../images/sprites_common.png) no-repeat right -590px; padding-right:8px;}
.pageInfo .next a:hover,.pageInfo .next a:active{ background:url(../images/sprites_common.png) no-repeat right -610px;}
.pageInfo .pageNumber .current{ width:24px; text-align:center; padding:15px 6px 0 4px; background:url(../images/sprites_common.png) no-repeat -200px -585px; color:#D7D9D9; letter-spacing:-1px;}
.pageInfo .pageNumber .current a{ color:#D7D9D9;}
.pageInfo .pageStat{ float:right; padding:15px 15px 0 0;}
.pageInfo .pageStat li{ float:left; padding:0 5px;}
.pageInfo .pageStat .inputNum{ width:25px; height:18px; background:url(../images/sprites_common.png) no-repeat -295px -590px;}
.pageInfo .pageStat .inputNum input{ background:none; border:none; width:25px; padding:1px 0; _padding:0; line-height:16px; text-align:center; color:#D7D9D9;}
.pageInfo .btnGo{ margin-top:1px; width:26px; height:16px; border:none; background:url(../images/sprites_common.png) no-repeat -390px -590px; color:#769FA3; font-size:11px; line-height:16px;}