<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="IThemeSkyConnectionProvider" type="IThemeSky.Library.Data.DefaultConnectionProvider,IThemeSky.Library"/>
  </configSections>
  <IThemeSkyConnectionProvider
    ReadConnectionString="Data Source=72.167.41.16,49323;Initial Catalog=IThemeSky;Persist Security Info=True;User ID=ithemesky;Password=Justdb2010"
    WriteConnectionString="Data Source=72.167.41.16,49323;Initial Catalog=IThemeSky;Persist Security Info=True;User ID=ithemesky;Password=Justdb2010"
  />
  <appSettings>
    <add key="ThemeFilePath" value="F:\JustTFS\Svn\ThemeResources\"/>
  </appSettings>
</configuration>