@charset "utf-8";
/* css reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ margin:0; padding:0;}
h1, h2, h3, h4, h5, h6{ font-weight:normal; font-size:100%;}
address,caption,cite,code,dfn,em,th,var { font-weight:normal; font-style:normal;} 
table{ border-collapse:collapse; border-spacing:0;}
fieldset,img,abbr,acronym{border:0;}
input,textarea,select,button{ font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#769FA3;}
caption,th{ text-align:left;}
q:before, q:after{ content: '';}
ul,ol,dl{ list-style:none;}

.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix{display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */

/*common style*/
body{ background:url(../images/bg_body.jpg) no-repeat center 0 #000807; font:normal 12px/1.5 "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; color:#769FA3;}
a:link,a:visited{ text-decoration:none; color:#769FA3;}
a:hover,a:active{ text-decoration:none; color:#FFF;}

#header,#wrapper,#footer{ width:980px; margin:0 auto;}
#headerWrapper{ background:url(../images/bg_header.jpg) no-repeat center top; min-width:980px;}
#footerWrapper{ background:url(../images/bg_footer.png) no-repeat center top; min-width:980px;}
#header{ height:100px;}
#sidebar{ float:left; width:200px; margin-right:10px; _display:inline;}
#mainContent{ float:left; width:600px;}
#subContent{ float:right; width:160px;}
#main{ float:right; width:770px;}
a.linkEct:link,a.linkEct:visited{ background:url(../images/sprites_common.png) no-repeat right -696px; padding-right:12px;}
a.linkEct:hover,a.linkEct:active{ background-position:right -716px;}

.b{ font-weight:bold;}
.u{ text-decoration:underline;}
.orange{ color:#FC0;}
.scrollbar{ scrollbar-base-color:#000B0B; scrollbar-face-color:none; scrollbar-arrow-color:#9FBABF; scrollbar-track-color:#000B0B; scrollbar-3dlight-color:#000B0B; scrollbar-darkshadow-color:#000B0B; scrollbar-highlight-color:#304543; scrollbar-shadow-color:#253634;}

/*header*/
.logo{ float:left; width:225px; margin-top:8px; font:0/0 Arial;}
.nav{ float:left; margin-top:25px; height:40px;}
.nav li{ float:left; height:24px; padding:10px 11px 6px 9px; background:url(../images/sprites_header.png) no-repeat right 0;}
.nav li.last{ background:none;}
.nav a{ display:block; padding:5px; height:14px; text-indent:-999em; overflow:hidden; background:url(../images/sprites_header.png) no-repeat;}
.nav li.s1 a:link,.nav li.s1 a:visited{ width:36px; background-position:0 -45px;}
.nav li.s1 a:hover,.nav li.s1 a:active{ background-position:0 -70px;}
.nav li.s2 a:link,.nav li.s2 a:visited{ width:73px; background-position:-60px -45px;}
.nav li.s2 a:hover,.nav li.s2 a:active{ background-position:-60px -70px;}
.nav li.s3 a:link,.nav li.s3 a:visited{ width:112px; background-position:-160px -45px;}
.nav li.s3 a:hover,.nav li.s3 a:active{ background-position:-160px -70px;}
.nav li.s4 a:link,.nav li.s4 a:visited{ width:38px; background-position:-300px -45px;}
.nav li.s4 a:hover,.nav li.s4 a:active{ background-position:-300px -70px;}
.nav li.s5 a:link,.nav li.s5 a:visited{ width:99px; background-position:-365px -45px;}
.nav li.s5 a:hover,.nav li.s5 a:active{ background-position:-365px -70px;}
.nav li.s6 a:link,.nav li.s6 a:visited{ width:29px; background-position:-495px -45px;}
.nav li.s6 a:hover,.nav li.s6 a:active{ background-position:-495px -70px;}
.nav li.s7 a:link,.nav li.s7 a:visited{ width:39px; background-position:-555px -45px;}
.nav li.s7 a:hover,.nav li.s7 a:active{ background-position:-555px -70px;}
.searchPannel{ float:right; width:140px; height:20px; margin-top:35px; background:url(../images/sprites_header.png) no-repeat 0 -110px; position:relative; z-index:2;}
.searchPannel .label{ float:left; display:block; width:24px; height:20px; text-indent:-999em; overflow:hidden;}
.searchPannel .input{ float:left; padding:2px 0; _padding:1px 0;}
.searchPannel .input input{ border:none; background:none; width:96px; height:16px; line-height:16px; color:#000;}
.searchPannel .reset{ margin:5px 0 0 122px; _margin:5px 0 0 119px; width:12px; height:12px; overflow:hidden;}
.searchPannel .reset .btn{ display:block; width:12px; height:12px; background:url(../images/sprites_header.png) no-repeat -200px -110px; text-indent:-999em; overflow:hidden;}
.searchResult{ z-index:10; position:absolute; top:44px; right:-4px; width:308px; background:url(../images/sprites_header.png) no-repeat -370px bottom; padding-bottom:7px;}
.searchResult .searchHead,.searchResult .searchTip{ position:relative; z-index:1; margin:-9px 5px 0 5px; height:25px; color:#CCD2DC; font-weight:bold; line-height:25px;}
.searchResult .searchHead{ width:298px; text-indent:14px; background:url(../images/sprites_header.png) 0 -280px;}
.searchResult .searchTip{ padding-right:32px; background:url(../images/sprites_header.png) no-repeat 0 -310px; text-align:right;}
.searchResult .list{ padding:5px 14px 10px 14px; width:280px; font-size:11px;}
.searchResult .list dl{ clear:both; margin:1px 0; height:102px;}
.searchResult .list dt{ float:left; width:60px; height:90px; padding:6px; font:0/0 Arial; background:url(../images/sprites_header.png) no-repeat 0 -150px;}
.searchResult .list dd{ float:left; margin:6px 0 0 8px; _display:inline;}
.searchResult .list .title{ font-weight:bold;}
.searchResult .rateResult{ display:block; margin:6px 0; height:11px; width:75px; text-indent:-999em; overflow:hidden; background:url(../images/sprites_header.png) no-repeat;}
.searchResult .star0{ background-position:-150px -150px;}
.searchResult .star1{ background-position:-150px -170px;}
.searchResult .star2{ background-position:-150px -190px;}
.searchResult .star3{ background-position:-150px -210px;}
.searchResult .star4{ background-position:-150px -230px;}
.searchResult .star5{ background-position:-150px -250px;}
.searchResult .btnDownload:link,.searchResult .btnDownload:visited{ margin:6px 0; width:75px; height:24px; display:block; text-indent:-999em; overflow:hidden; background:url(../images/sprites_header.png) no-repeat 0 -350px;}
.searchResult .btnDownload:hover,.searchResult .btnDownload:active{ background:url(../images/sprites_header.png) no-repeat 0 -380px;}

/*footer*/
#footer{ padding:35px 0 20px 0; color:#3C5C60;}
#footer a:link,#footer a:visited{ color:#527679;}
#footer a:hover,#footer a:active{ color:#769FA3;}
.copyright{ float:left; padding:0 10px; width:180px;}
.footNav{ float:right; width:780px;}
.footNav li{ float:left; padding:0 12px 0 13px; background:url(../images/sprites_header.png) no-repeat 0 -485px;}
.footNav li.first{ background:none;}
.footNav li.go2Top{ float:right; padding:0 30px 0 0; background:none; font-size:11px; line-height:18px; overflow:hidden;}
.footNav li.go2Top a{ float:left; display:block; padding-left:18px; height:18px; overflow:hidden; background:url(../images/sprites_header.png) no-repeat -260px -453px;}
.footNav li.go2Top a:hover{ background-position:-260px -473px;}
.disclaimer{ clear:both; width:760px; padding:8px 0 0 212px; font-size:11px; line-height:1.4;}
.footPartners{ clear:both; width:620px; margin:6px 0 0 212px; font-size:11px;}
.footPartners dt{ float:left; font-weight:bold; width:65px;}
.footPartners dd{ float:left; width:550px;}
.footPartners li{ float:left; padding:0 4px;}

/*sidebar*/
#sidebar a:link,#sidebar a:visited{ color:#9FBCBF;}
#sidebar a:hover,#sidebar a:active{ color:#FFF;}
.sideCol{ width:200px; padding-bottom:8px; background:url(../images/sprites_box.png) no-repeat -200px bottom; margin-bottom:10px;}
.sideColHead{ height:35px; background:url(../images/sprites_box.png) no-repeat; text-indent:18px; line-height:35px;}
.sideColContent{ background:url(../images/sprites_box.png) no-repeat 0 -35px; min-height:200px; _height:300px;}
.sideMenu{ width:182px; padding:5px 9px;}
.sideMenu li{ height:24px; padding:1px 0;}
.sideMenu a:link,.sideMenu a:visited{ display:block; height:24px; padding-left:20px; line-height:22px; background:url(../images/sprites_common.png) no-repeat 0 0;}
.sideMenu a:hover,.sideMenu a:active{ background:url(../images/sprites_common.png) no-repeat -190px 0;}
.sideTags{ width:180px; padding:5px 10px;}
.sideTags a{ white-space:nowrap; padding:3px 3px 0 3px;}
.sideTwitter:link,.sideTwitter:visited{ display:block; margin:10px 0; width:200px; height:45px; text-indent:-999em; overflow:hidden; background:url(../images/btn_twitter.png) no-repeat;}
.sideTwitter:hover,.sideTwitter:active{ background-position:0 -50px;}

/*theme list layout*/
.themeList dl{ width:138px; height:260px; background:url(../images/sprites_common.png) no-repeat 0 -80px;}
.themeList dt{ height:20px; text-align:center; line-height:20px; padding-top:2px;}
.themeList .themeCut{ padding:10px 12px; width:114px; height:170px; position:relative; z-index:1;}
.themeList .themeCut a:link,.themeList .themeCut a:visited{ padding:1px; display:block; width:112px; height:168px; font:0/0 Arial;}
.themeList .themeCut a:hover,.themeList .themeCut a:active{ padding:0; border:1px solid #2D494B;}
.themeList .themeCut .forIphone4{ position:absolute; z-index:1; left:12px; top:10px; display:block; width:40px; height:40px; text-indent:-999em; background:url(../images/sprites_common.png) no-repeat -460px -100px;}
.themeList .rateResult{ display:block; width:92px; height:16px; margin:0 auto; text-indent:-999em; overflow:hidden; background:url(../images/sprites_common.png) no-repeat;}
.themeList .star0{ background-position:-160px -100px;}
.themeList .star1{ background-position:-160px -120px;}
.themeList .star2{ background-position:-160px -140px;}
.themeList .star3{ background-position:-160px -160px;}
.themeList .star4{ background-position:-160px -180px;}
.themeList .star5{ background-position:-160px -200px;}
.themeList .btnDownload{ margin:8px auto 0 auto; width:122px; height:24px;}
.themeList .btnDownload a:link,.themeList .btnDownload a:visited{ display:block; height:24px; background:url(../images/sprites_common.png) no-repeat -280px -100px; text-indent:-999px; overflow:hidden;}
.themeList .btnDownload a:hover,.themeList .btnDownload a:active{ background:url(../images/sprites_common.png) no-repeat -280px -130px;}

/*homepage*/
.banner{ width:590px; height:190px; padding:5px; background:url(../images/bg_banner.png) no-repeat; margin-bottom:10px;}
.banner dl{ position:relative; z-index:1; width:588px; height:188px; border:1px solid #000;}
.banner dt{ font:0/0 Arial;}
.banner .text{ width:390px; height:36px; position:absolute; z-index:1; left:188px; top:96px; line-height:1.4; color:#0C5A76;}
.banner .text p{ position:absolute; z-index:1; display:block; width:390px; height:36px; left:-1px; top:-1px; color:#D3E8EF;}
.banner .btn{ position:absolute; z-index:1; left:365px; top:143px; width:205px; height:32px;}
.banner .btn a{ float:left; height:32px; background:url(../images/bg_banner.png) no-repeat; text-indent:-999em; overflow:hidden;}
.banner .btn a.s1:link,.banner .btn a.s1:visited{ width:107px; background-position:0 -210px;}
.banner .btn a.s1:hover,.banner .btn a.s1:active{ background-position:0 -245px;}
.banner .btn a.s2:link,.banner .btn a.s2:visited{ width:98px; background-position:-107px -210px;}
.banner .btn a.s2:hover,.banner .btn a.s2:active{ background-position:-107px -245px;}
.colTitle{ font-weight:bold; font-size:13px; color:#CCD4DC;}
.mainCol{ width:600px; background:url(../images/sprites_box.png) no-repeat -400px 0; padding-top:2px; margin-bottom:10px;}
.mainColHead{ margin:0 2px; background:url(../images/sprites_common.png) no-repeat 0 -40px; height:34px;}
.mainColHead .colTitle{ line-height:32px; float:left; padding:0 16px;}
.colMore{ float:right; margin:8px 14px 0 0; _display:inline; font-size:9px;}
.colMore a:link,.colMore a:visited{ padding-right:8px; background:url(../images/sprites_common.png) no-repeat right -96px;}
.colMore a:hover,.colMore a:active{ background:url(../images/sprites_common.png) no-repeat right -116px;}
.mainColContent{ background:url(../images/sprites_box.png) no-repeat -1000px bottom; padding:0 7px 18px 7px;}
.mainCol .themeList dl{ float:left; margin:7px 0 0 7px; _display:inline;}
.mainColTab{ float:right; margin:8px 20px 0 0; height:25px; _display:inline;}
.mainColTab li{ float:left; width:51px; text-align:center; padding:1px 0; height:23px;}
.mainColTab li a{ display:block; height:23px; line-height:20px;}
.mainColTab li.selected{ padding:1px 10px; background:url(../images/sprites_common.png) no-repeat -709px -150px;}
.mainColTab li a:link,.mainColTab li a:visited{ color:#9FBCBF;}
.mainColTab li a:hover,.mainColTab li a:active,.mainColTab li.selected a{ color:#CCD3DC;}
.subCol{ width:160px; background:url(../images/sprites_box.png) no-repeat -1760px bottom; padding-bottom:8px; margin-bottom:8px;}
.subColHead{ height:35px; background:url(../images/sprites_common.png) no-repeat 0 -350px; text-indent:18px; line-height:35px;}
.subColContent{ background:url(../images/sprites_box.png) repeat-y -1600px 0;}

/*sub content*/
.subHelp{ padding:5px 10px; width:140px;}
.subHelp li{ width:128px; background:url(../images/sprites_common.png) no-repeat -771px -340px; padding:5px 0 0 12px; line-height:1.3;}
.subCol .themeList dl{ margin:0 auto; padding-bottom:7px;}
.subCol .themeList{ padding:5px 0;}

/*breadcrumb*/
.pageGuide{ width:770px; height:35px; background:url(../images/sprites_common.png) no-repeat 0 -400px;}
.breadcrumb{ float:left;}
.breadcrumb li{ float:left; margin:1px 0; padding:7px 5px 0 21px; height:26px; background:url(../images/sprites_common.png) no-repeat -767px -440px; color:#CCD2DC;}
.breadcrumb li a:link,.breadcrumb li a:visited{ color:#CCD2DC;}
.breadcrumb li a:hover,.breadcrumb li a:active{ color:#FFF;}
.breadcrumb li.home{ padding:5px 0 0 8px; background:none;}
.breadcrumb li.home a:link,.breadcrumb li.home a:visited{ display:block; width:23px; height:22px; text-indent:-999em; overflow:hidden; background:url(../images/sprites_common.png) no-repeat 0 -440px;}
.breadcrumb li.home a:hover,.breadcrumb li.home a:active{ background:url(../images/sprites_common.png) no-repeat -30px -440px;}
.listSelect{ margin-top:10px; width:770px; padding-top:8px; background:url(../images/sprites_box_wide.png) no-repeat;}
.selectedTips{ width:770px; background:url(../images/sprites_box_wide.png) no-repeat -770px 0; color:#CCD2DC;}
.selectedTips p{ width:736px; padding:4px 0 9px 20px; background:url(../images/sprites_box_wide.png) no-repeat 0 bottom;}
.selectedTips .tips{ font-size:12px; float:left; padding-right:10px;}
.selectedTips .close{ float:right; width:160px; height:18px; text-indent:10px; background:url(../images/sprites_common.png) no-repeat -620px -650px; line-height:16px;}
.selectTags{ width:756px; background:url(../images/sprites_box_wide.png) no-repeat -770px bottom; padding:0 7px 8px 7px;}
.selectTags dl{ width:756px; padding:9px 0; background:url(../images/sprites_box_wide.png) no-repeat 0 bottom; line-height:20px;}
.selectTags dl.last{ background:none;}
.selectTags dt{ float:left; width:80px; text-align:right; color:#CCD2DC;}
.selectTags dd{ float:left; width:676px;}
.selectTags dd li{ float:left; background:url(../images/sprites_common.png) no-repeat right -500px; padding:0 12px; white-space:nowrap;}
.selectTags dd a:link,.selectTags dd a:visited{ color:#91B1B5;}
.selectTags dd a:hover,.selectTags dd a:active{ color:#FFF;}
.selectTags dd a.selected:link,.selectTags dd a.selected:visited{ background:url(../images/sprites_common.png) no-repeat 0 -647px; padding-left:16px; color:#FFF;}
.selectTags dd a.selected:hover,.selectTags dd a.selected:active{ background-position:0 -687px; text-decoration:underline;}

/*themes list*/
.lists{ margin-top:10px; width:770px; background:url(../images/sprites_box_wide.png) no-repeat -1540px 0;}
.listsSort{ padding:10px 20px 0 20px; height:24px; color:#9FBBBF;}
.listsSort dt{ float:left; padding-right:5px;}
.listsSort dd{ float:left; text-align:center; padding:0 3px 4px 3px;}
.listsSort dd.selected{ background:url(../images/ico_arrow_sort.png) no-repeat center bottom;}
.listsSort dd.selected a{ color:#FFF;}
.lists .themeList{ background:url(../images/sprites_box_wide.png) no-repeat -2310px bottom; padding:0 15px 20px 15px;}
.lists .themeList dl{ float:left; _display:inline; margin:10px 5px 0 5px;}

/*pageInfo*/
.pageInfo{ margin-top:6px; width:770px; height:45px; background:url(../images/sprites_common.png) no-repeat 0 -530px;}
.pageInfo .pageNumber{ float:left; padding-left:15px;}
.pageInfo .pageNumber li{ float:left; padding:15px 7px 0 7px; height:30px;}
.pageInfo .previous,.pageInfo .next{ height:20px; text-align:left;}
.pageInfo .previous a:link,.pageInfo .previous a:visited{ background:url(../images/sprites_common.png) no-repeat left -590px; padding-left:8px;}
.pageInfo .previous a:hover,pageInfo .previous a:active{ background:url(../images/sprites_common.png) no-repeat left -610px;}
.pageInfo .next a:link,.pageInfo .next a:visited{ background:url(../images/sprites_common.png) no-repeat right -590px; padding-right:8px;}
.pageInfo .next a:hover,.pageInfo .next a:active{ background:url(../images/sprites_common.png) no-repeat right -610px;}
.pageInfo .pageNumber .current{ width:24px; text-align:center; padding:15px 6px 0 4px; background:url(../images/sprites_common.png) no-repeat -200px -585px; color:#D7D9D9; letter-spacing:-1px;}
.pageInfo .pageNumber .current a{ color:#D7D9D9;}
.pageInfo .pageStat{ float:right; padding:15px 15px 0 0;}
.pageInfo .pageStat li{ float:left; padding:0 5px;}
.pageInfo .pageStat .inputNum{ width:25px; height:18px; background:url(../images/sprites_common.png) no-repeat -295px -590px;}
.pageInfo .pageStat .inputNum input{ background:none; border:none; width:25px; padding:1px 0; _padding:0; line-height:16px; text-align:center; color:#D7D9D9;}
.pageInfo .btnGo{ margin-top:1px; width:26px; height:16px; border:none; background:url(../images/sprites_common.png) no-repeat -390px -590px; color:#769FA3; font-size:11px; line-height:16px;}

/*theme detail*/
.themeDetail{ margin-top:10px; background:url(../images/sprites_box.png) no-repeat -1920px 0;}
.detailSide{ float:left; width:202px; margin:13px; _display:inline;}
.detailSide .themeCut{ padding:15px; width:172px; height:257px; background:url(../images/sprites_detail.png) no-repeat 0 0; position:relative; z-index:1;}
.detailSide .themeCut a{ padding:1px; display:block; width:170px; height:255px; font:0/0 Arial;}
.detailSide .themeCut a:hover{ padding:0; border:1px solid #2D494B;}
.detailSide .themeCut .forIphone4{ position:absolute; z-index:1; left:15px; top:15px; display:block; width:40px; height:40px; text-indent:-999em; background:url(../images/sprites_common.png) no-repeat -460px -100px;}
.detailSide .btn li{ float:left; margin:8px 0 0 10px; _display:inline; width:86px; height:22px;}
.detailSide .btn a{ display:block; height:22px; text-indent:-999em; overflow:hidden; background:url(../images/sprites_detail.png) no-repeat;}
.detailSide .btn .previous a{ background-position:0 -290px;}
.detailSide .btn .previous a:hover{ background-position:0 -315px;}
.detailSide .btn .previous a.none{ background-position:-190px -290px;}
.detailSide .btn .next a{ background-position:-90px -290px;}
.detailSide .btn .next a:hover{ background-position:-90px -315px;}
.detailSide .btn .next a.none{ background-position:-285px -290px;}
.detailInfo{ float:left; width:360px;}
.detailInfo .title{ font-size:14px; font-weight:bold; color:#CCD3DC; margin:20px 0 5px 0;}
.detailInfo .details{ padding-top:5px; width:360px;}
.detailInfo .details dt{ float:left; color:#CCD2DC; font-weight:bold; text-align:right; width:85px; padding-right:5px;}
.detailInfo .details dd{ float:left; width:270px;}
.detailInfo .details dd a{ white-space:nowrap;}
.detailInfo .detailBtn{ clear:both; padding:15px 0 15px 25px; height:38px;}
.detailInfo .detailBtn li{ float:left; margin-left:12px; _display:inline;}
.detailInfo .detailBtn li a{ display:block; height:38px; text-indent:-999em; overflow:hidden;}
.detailInfo .btnDownload a{ width:145px; background:url(../images/sprites_detail.png) no-repeat -210px 0;}
.detailInfo .btnDownload a:hover{ background:url(../images/sprites_detail.png) no-repeat -410px 0;}
.detailInfo .btnCreate a{ width:160px; background:url(../images/sprites_detail.png) no-repeat -210px -240px;}
.detailInfo .btnCreate a:hover{ background:url(../images/sprites_detail.png) no-repeat -410px -240px;}
.detailInfo .btnCreate .off{ display:block; width:160px; height:38px; background:url(../images/sprites_detail.png) no-repeat -410px -290px; text-indent:-999em; overflow:hidden;}
.detailRate{ position:relative; z-index:1; width:120px; height:22px; background:url(../images/sprites_detail.png) no-repeat -210px -50px;}
.detailRate .rateResult{ display:block; width:118px; height:22px; text-indent:-999em; overflow:hidden; background:url(../images/sprites_detail.png) no-repeat;}
.detailRate .star0{ background-position:-210px -50px;}
.detailRate .star1{ background-position:-210px -75px;}
.detailRate .star2{ background-position:-210px -100px;}
.detailRate .star3{ background-position:-210px -125px;}
.detailRate .star4{ background-position:-210px -150px;}
.detailRate .star5{ background-position:-210px -175px;}
.detailRate li{ float:left;}
.detailRate li a{ display:block; height:22px; width:24px; text-indent:-999em; overflow:hidden; z-index:2; position:absolute; top:0;}
.detailRate li a:hover{ background:url(../images/sprites_detail.png) no-repeat -210px -200px; z-index:1; left:0;}
.detailRate a.rateS1{ left:0;}
.detailRate a.rateS1:hover{ width:24px;}
.detailRate a.rateS2{ left:24px;}
.detailRate a.rateS2:hover{ width:48px;}
.detailRate a.rateS3{ left:48px;}
.detailRate a.rateS3:hover{ width:72px;}
.detailRate a.rateS4{ left:72px;}
.detailRate a.rateS4:hover{ width:96px;}
.detailRate a.rateS5{ left:96px;}
.detailRate a.rateS5:hover{ width:118px;}
.detailInfo .installIip{ padding-left:24px; background:url(../images/sprites_detail.png) no-repeat -580px -60px;}
.themeShare{ margin:10px 0; width:350px; height:20px; padding:5px; border:1px solid #102529;}
.themeShare dt{ float:left; color:#CCD2DC; font-weight:bold; text-align:right; width:120px;}
.themeShare dd{ float:left; margin-left:5px; _display:inline; width:20px; height:20px;}
.themeShare dd a{ display:block; height:20px; text-indent:-999em; overflow:hidden; background:url(../images/sprites_detail.png) no-repeat; filter:Alpha(opacity=70); -moz-opacity:.70; opacity:0.70;}
.themeShare dd a:hover{ filter:Alpha(opacity=100); -moz-opacity:1.0; opacity:1.0;}
.themeShare .shareTwitter a{ background-position:-360px -100px;}
.themeShare .shareFacebook a{ background-position:-385px -100px;}
.themeShare .shareDigg a{ background-position:-410px -100px;}
.themeShare .shareStumbleUpon a{ background-position:-435px -100px;}
.themeShare .shareReddit a{ background-position:-460px -100px;}
.themeShare .shareDelicious a{ background-position:-485px -100px;}
.themeDetailCol .mainColHead{ margin:0 2px; background:url(../images/sprites_detail.png) no-repeat 0 -350px; height:31px;}
.themeDetailCol .colTitle{ line-height:30px; padding:0 16px;}

/*theme comments*/
.themeComment{ clear:both; margin-top:10px; width:600px; background:url(../images/sprites_box.png) no-repeat -400px 0;}
.commentHead{ padding:10px 0 0 20px; width:560px; font-weight:bold; font-size:13px; color:#CCD3DC;}
.commentList{ width:570px; margin:0 auto;}
.commentList .commentContent{ padding:15px 5px; width:560px; border-bottom:1px solid #283533;}
.commentData{ padding-left:25px; height:36px; background:url(../images/sprites_detail.png) no-repeat -585px -387px;}
.commentData cite{ float:left; font-weight:bold; color:#9FBCBF;}
.commentMeta{ float:left; clear:left; font-size:11px; color:#4A6D71;}
.commentNumber{ float:right; height:36px; color:#527679;}
.commentEntry{ padding:5px 0 0 25px; width:535px;}
.commentPage{ width:570px; margin:10px auto 0 auto;}
.commentPage ul{ float:right;}
.commentPage li{ float:left; margin:0 3px; _display:inline;}
.commentPage li a{ background:#001B28; height:14px; line-height:14px; border:1px solid #224548; padding:0 3px;}
.commentPage li a:hover{ background:#002437; border-color:#295457; color:#C9D8DA;}
.commentPage li.current a{ border:none; background:none; font-weight:bold; color:#CCD3DC; line-height:16px;}
.commentAdd{ width:570px; padding:15px; background:url(../images/sprites_box.png) no-repeat -1000px bottom;}
.commentForm{ clear:both; width:570px; padding-top:8px;}
.commentForm .label{ float:left; width:115px; font-weight:bold; padding-right:5px; text-align:right; line-height:20px; color:#9FBABF;}
.commentForm small{ font-size:11px; padding-left:5px;}
.commentForm input{ float:left; padding:1px; height:16px; line-height:16px; width:160px;}
.commentForm .inputNormal,.commentForm .textareaNormal{background:#000B0B; border:1px solid #253634;}
.commentForm .inputFocus,.commentForm .textareaFocus{background:#001313; border:1px solid #304543;}
.commentForm .textarea{ float:left; width:450px;}
.commentForm textarea{ width:446px; height:96px; line-height:1.5; padding:1px; scrollbar-base-color:#000B0B; scrollbar-face-color:none; scrollbar-arrow-color:#9FBABF; scrollbar-track-color:#000B0B; scrollbar-3dlight-color:#000B0B; scrollbar-darkshadow-color:#000B0B; scrollbar-highlight-color:#304543; scrollbar-shadow-color:#253634;}
.commentBtn{ clear:both; padding-top:10px; text-align:right;}
.commentBtn button{ width:100px; height:24px; background:url(../images/sprites_detail.png) no-repeat 0 -400px; color:#D9DCDD; border:none; padding:0; margin:0;}

/*detail page side*/
.themeDetailSub{ margin-bottom:0;}
.themeDetailSub .subColHead{ margin-top:10px; height:33px; background:url(../images/sprites_detail.png) no-repeat 0 -440px; text-indent:15px; line-height:32px;}
.subRecommended,.subTopDownload{ padding:5px 10px;}
.subRecommended li{ height:20px; background:url(../images/sprites_detail.png) no-repeat -591px -470px; padding:4px 0 0 15px;}
.themeDetailSub .downloadNum{ float:right; color:#CCD2DC; font-size:11px; letter-spacing:-1px; line-height:18px;}
.subTopDownload li{ clear:both;}
.subTopDownload .normal{ float:left; width:140px; padding-top:4px; height:20px;}
.subTopDownload .rankNum{ float:left; width:15px; height:13px; font-size:11px; line-height:13px; text-align:center; color:#CCD2DC; background:url(../images/sprites_detail.png) no-repeat -585px -440px; margin:3px 6px 0 0; _margin:3px 3px 0 0;}
.subTopDownload .title{ float:left;}
.subTopDownload .champion{ border-bottom:1px solid #2A3C39; padding:7px 0; width:140px;}
.subTopDownload .champion dt{ float:left; width:36px; height:52px;}
.subTopDownload .champion dt a{ display:block; width:34px; height:50px; border:1px solid #394848;}
.subTopDownload .champion dt img{ display:block; border:1px solid #081C1D; width:32px; height:48px;}
.subTopDownload .champion dd{ float:right; width:98px; line-height:16px;}
.subTopDownload .champion small{ font-size:10px; font-weight:bold;}
.subTopDownload .champion .downloadNum{ float:none; display:inline;}
.subTopDownload .rateResult{ display:block; margin:5px 0 3px 0; height:11px; width:75px; text-indent:-999em; overflow:hidden; background:url(../images/sprites_header.png) no-repeat;}
.subTopDownload .star0{ background-position:-150px -150px;}
.subTopDownload .star1{ background-position:-150px -170px;}
.subTopDownload .star2{ background-position:-150px -190px;}
.subTopDownload .star3{ background-position:-150px -210px;}
.subTopDownload .star4{ background-position:-150px -230px;}
.subTopDownload .star5{ background-position:-150px -250px;}

/*common page*/
.commonPage{  background:url(../images/sprites_box.png) no-repeat -1920px 0; margin-top:10px;}
.commonContent{ background:url(../images/sprites_box.png) no-repeat -1000px bottom; padding:15px; width:570px;}
.commonContent p{ padding:12px 0;}
.commonContent ol{ list-style:decimal outside none; padding:12px 0 12px 15px;}
.commonContent ol li{ list-style:decimal outside none; margin:3px 0 0 5px;}
.commonContent ul{ list-style:square outside none; padding:12px 0 12px 15px;}
.commonContent ul li{ list-style:square outside none; margin:3px 0 0 5px;}

/*FAQ*/
.commonContent ul.faqList{ width:560px; margin:0 5px; list-style:none; padding:0;}
.commonContent ul.faqList li{ margin:0; padding:3px 0 7px 15px; list-style:none; background:url(../images/sprites_subpages.png) no-repeat -763px 10px; font-weight:bold; overflow:hidden;}
.commonContent ul.faqList a{ float:left; padding-bottom:2px; background:url(../images/bg_dot_line.png) repeat-x left bottom;}
.faqContent .title{ width:545px; height:25px; padding-left:25px; background:url(../images/sprites_subpages.png) no-repeat; margin:20px 0 10px 0;}
.faqContent .title .text{ float:left; font-weight:bold; line-height:25px; color:#9FBBBF;}
.faqContent .title .goTop{ float:right; width:25px; height:25px; background:url(../images/sprites_subpages.png) no-repeat 6px -32px; text-indent:-999em; overflow:hidden;}
.faqContent .title .goTop:hover{ background-position:-34px -32px;}
.faqEntry{ padding:0 10px; width:550px; overflow:hidden;}

.normalTitle{ background:url(../images/sprites_subpages.png) no-repeat 0 -70px; padding-left:25px; font-weight:bold; line-height:28px; font-size:13px; color:#9FBBBF;}
.normalEntry{ padding:10px 5px; width:560px; overflow:hidden;}
.normalEntry h3{ font-size:16px; font-weight:bold; color:#9FBBBF;}
.normalEntry h4{ font-size:14px; font-weight:bold; padding-top:6px; color:#9FBBBF;}
.normalEntry .alignCenter{ text-align:center;}
.normalEntry p img{ padding:1px; border:1px solid #003B37;}
.normalEntry a:link,.normalEntry a:visited{ text-decoration:underline; color:#9FBBBF;}
.normalEntry a:hover,.normalEntry a:active{ text-decoration:underline; color:#FFF;}

/*submit themes*/
.submitTips{ padding:5px 0 10px 20px; background:url(../images/sprites_subpages.png) no-repeat -759px -105px; width:550px;}
.submitThemes{ padding:5px 0;}
.submitForm{ clear:both; width:570px; padding-top:10px;}
.submitForm .label{ float:left; width:115px; font-weight:bold; padding-right:5px; text-align:right; line-height:20px; color:#9FBABF;}
.submitForm .select{ float:left; background:#000B0B; border:1px solid #253634;}
.submitForm small{ font-size:11px; padding-left:5px;}
.submitForm input{ float:left; padding:1px; height:16px; line-height:16px;}
.submitForm .inputNormal,.submitForm .inputFocus{ width:190px;}
.submitForm .inputNormal,.submitForm .textareaNormal{background:#000B0B; border:1px solid #253634;}
.submitForm .inputFocus,.submitForm .textareaFocus{background:#001313; border:1px solid #304543;}
.submitForm .inputFile{background:#000B0B; border:1px solid #253634; height:18px; width:auto;}
.submitForm .textarea{ float:left; width:420px;}
.submitForm textarea{ width:416px; height:96px; line-height:1.5; padding:1px; scrollbar-base-color:#000B0B; scrollbar-face-color:none; scrollbar-arrow-color:#9FBABF; scrollbar-track-color:#000B0B; scrollbar-3dlight-color:#000B0B; scrollbar-darkshadow-color:#000B0B; scrollbar-highlight-color:#304543; scrollbar-shadow-color:#253634;}
.submitBtn{ clear:both; padding:10px 0 0 120px;}
.submitBtn button{ width:100px; height:24px; background:url(../images/sprites_detail.png) no-repeat 0 -400px; color:#D9DCDD; border:none; padding:0; margin:0;}

/*iSpirit*/
.fullContent{ margin-top:10px; width:770px; background:url(../images/sprites_box_wide.png) no-repeat -2310px bottom; padding-bottom:20px;}
.iSpirit{ width:740px; background:url(../images/sprites_box_wide.png) no-repeat -1540px 0; padding:20px 15px;}
.iSpirit dl{ background:url(../images/ispirit_cover.png) no-repeat 5px 5px; padding-left:240px; width:500px; min-height:185px; -height:185px;}
.iSpirit dt{ padding:5px 0; font:0/0 Arial;}
.iSpirit dd{ padding:0 5px;}
.iSpirit dd .req{ margin:10px 0;  padding:5px 10px 8px 10px; border:1px dotted #003B37;}
.iSpiritNav{ width:740px; height:75px; margin:0 auto; background:url(../images/sprites_ispirit.png) no-repeat;}
.iSpiritNav li{ float:left; width:220px; height:75px; margin-right:40px; -display:inline;}
.iSpiritNav a:link,.iSpiritNav a:visited{ display:block; height:60px;}
.iSpiritNav a:hover,.iSpiritNav a:active,.iSpiritNav li.s1:hover a{ background:url(../images/sprites_ispirit.png) no-repeat 0 -140px;}
.iSpiritNav a.current:link,.iSpiritNav a.current:visited,.iSpiritNav a.current:hover,.iSpiritNav a.current:active{ height:75px; background:url(../images/sprites_ispirit.png) no-repeat -240px -140px;}
.iSpiritNav li.s3{ margin:0;}
.iSpiritNav li .link{ display:block; height:60px; margin-left:18px; width:202px; background:url(../images/sprites_ispirit.png) no-repeat; text-indent:-999em; overflow:hidden; cursor:pointer;}
.iSpiritNav li.s1 .link{ background-position:0 -72px;}
.iSpiritNav li.s2 .link{ background-position:-240px -72px;}
.iSpiritNav li.s3 .link{ background-position:-480px -72px;}
.iSpiritNav .dlBubbleInfo { position: relative; z-index:1}
.iSpiritNav .dlTrigger {position: absolute; z-index:1;}
.iSpiritNav .s1{ position:relative; z-index:1;}
.iSpiritNav .s1 .dlPopup{ display:none; color:#9FB8BF; font-size:11px; line-height:1.6;}
.iSpiritNav .s1:hover .dlPopup{ display:block; position:absolute; z-index:50; padding:12px 0 0 16px; width:196px; height:100px; background:url(../images/sprites_ispirit.png) no-repeat -480px -140px; top:-112px; left:4px;}
.iSpiritNav .s1:hover .dlPopup a,.iSpiritNav .s1 .dlPopup a{ display:inline; background-image:none; text-decoration:underline;}
.iSpiritNav .dlPopup .label{ float:left; width:32px; text-align:right; font-weight:bold; clear:left;}
.iSpiritNav .dlPopup .entry{ display:block; margin-left:35px; -margin-left:32px; width:160px;}
.iSpiritNav .dlPopup .noteIco{ margin-top:3px;}

/*iSpirit feature*/
.iSpiritMain{ width:710px; margin:15px auto 0 auto; background:url(../images/ispirit_main_bg.png) repeat; padding:10px 15px;}
.featuresList dl{ float:left; width:320px; height:75px; padding:10px 30px 15px 5px;}
.featuresList dt{ padding-left:72px; font-size:13px; font-weight:bold; color:#9FB9BF;}
.featuresList .ico{ float:left; margin-top:-10px; width:64px; height:64px; background:url(../images/sprites_ispirit.png) no-repeat; text-indent:-999em; overflow:hidden;}
.featuresList .ico_1{ background-position:0 -280px;}
.featuresList .ico_2{ background-position:-80px -280px;}
.featuresList .ico_3{ background-position:-160px -280px;}
.featuresList .ico_4{ background-position:-240px -280px;}
.featuresList .ico_5{ background-position:-320px -280px;}
.featuresList .ico_6{ background-position:-400px -280px;}
.featuresList .entry{ float:left; width:248px; padding:5px 0 0 8px; color:#769FA3; line-height:1.4;}
.featureScreen { clear:both; padding:15px 20px 10px 20px; width:670px;}
.featureScreen dt{ clear:both; background:url(../images/sprites_ispirit.png) no-repeat -746px -280px; padding:0 0 8px 30px; font-size:13px; font-weight:bold; color:#9FB9BF;}
.featureScreen dd{ float:left; margin:6px 0 5px 25px; -display:inline;}
.featureScreen a:link img,.featureScreen a:visited img{ padding:2px; border:1px solid #31494B;filter: Alpha(opacity=80); -moz-opacity:.8; opacity:0.8;}
.featureScreen a:hover img,.featureScreen a:active img{ border:1px solid #426264;filter: Alpha(opacity=100); -moz-opacity:1.0; opacity:1.0;}
.featureContent{ clear:both; padding:10px 30px;}

/*iSpirit support*/
.supportSort{ height:25px; padding:5px 0 5px 35px; background:url(../images/sprites_subpages.png) no-repeat; color:#CACACA; font-size:14px; font-weight:bold; line-height:25px;}
.iSpiritMain h3.s1{ background-position:0 -175px;}
.iSpiritMain h3.s2{ background-position:0 -215px; margin-top:20px;}
.iSpiritFaq{ margin-left:15px; padding:5px 0 5px 16px; background:url(../images/sprites_subpages.png) no-repeat -762px -210px; cursor:pointer;}
.iSpiritFaq a:link,.iSpiritFaq a:visited{ color:#9FBABF;}
.iSpiritFaq a:hover,.iSpiritFaq a:active{ color:#FFF;}
.iSpiritMain h4.active a{ color:#FFF;}
.iSpiritFaqContent{ margin-left:30px; width:640px; padding:0 15px; background:#022E39; display:none; color:#9FBABF;}
.iSpiritFaqContent p{ padding:10px 0;}
.iSpiritForm{ padding:5px 20px 10px 30px;}

.supportBtn{ height:120px; padding:8px 0 10px 12px;}
.supportBtn li{ float:left; margin-left:20px; -display:inline; width:320px; height:120px; background:url(../images/bg_ispirit_help_btn.png) no-repeat;}
.supportBtn .s1{ background-position:0 0;}
.supportBtn .s2{ background-position:0 -140px;}
.supportBtn li span{ display:block; padding:42px 0 0 82px; width:238px; height:48px; color:#DDD; line-height:1.4;}
.supportBtn a:link,.supportBtn a:visited{ display:block; float:left; width:280px; height:30px; margin-top:-90px; text-align:right; padding:90px 40px 0 0; font-weight:bold; line-height:30px; font-size:13px; color:#9FBABF;}
.supportBtn a:hover,.supportBtn a:active{ color:#FFf;}

/*google sense*/
.gsenseIndex{ float:left; width:760px; height:25px; padding:5px; margin-bottom:8px; background:url(../images/bg_gsense_index.png) no-repeat;}
.gsenseIndex p{ display:block; background:#00282B; width:728px; height:15px; padding:5px 27px 5px 5px; overflow:hidden;}
.gsenseSide p{ border:1px solid #333E41; border-top:0; border-bottom:0; background:#0B1717; padding:10px 4px 10px 14px; width:180px;}

/*quick contact*/
.quickContact{ width:160px; height:45px; margin-bottom:8px; background:url(../images/bg_quick_contact.png) no-repeat 0 -45px;}
.quickContact a{ background:url(../images/bg_quick_contact.png) no-repeat; display:block; width:24px; height:24px; text-indent:-999em; overflow:hidden;}
.quickContact a:link,.quickContact a:visited{ filter:Alpha(opacity=80); -moz-opacity:.80; opacity:0.80;}
.quickContact a:hover,.quickContact a:active{ filter:Alpha(opacity=100); -moz-opacity:1.0; opacity:1.0;}
.quickContact li{ float:left; margin:10px 3px 0 11px; -display:inline;}
.quickContact .s1 a{ background-position:-11px -10px;}
.quickContact .s2 a{ background-position:-49px -10px;}
.quickContact .s3 a{ background-position:-87px -10px;}
.quickContact .s3 a:link,.quickContact .s3 a:visited{ filter:Alpha(opacity=90); -moz-opacity:.90; opacity:0.90;}
.quickContact .s3 a:hover,.quickContact .s3 a:active{ filter:Alpha(opacity=100); -moz-opacity:1.0; opacity:1.0;}