<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="IThemeSkyConnectionProvider" type="IThemeSky.Library.Data.DefaultConnectionProvider,IThemeSky.Library"/>
  </configSections>
  <IThemeSkyConnectionProvider
    ReadConnectionString="Data Source=127.0.0.1;Initial Catalog=IThemeSky;Persist Security Info=True;User ID=sa;Password=123456"
    WriteConnectionString="Data Source=127.0.0.1;Initial Catalog=IThemeSky;Persist Security Info=True;User ID=sa;Password=123456"
  />
</configuration>