<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="IThemeSkyConnectionProvider" type="IThemeSky.Library.Data.DefaultConnectionProvider,IThemeSky.Library"/>
  </configSections>
  <IThemeSkyConnectionProvider
    ReadConnectionString="Data Source=ithemesky.db.5898928.hostedresource.com;Initial Catalog=IThemeSky;Persist Security Info=True;User ID=ithemesky;Password=Justdb2010"
    WriteConnectionString="Data Source=ithemesky.db.5898928.hostedresource.com;Initial Catalog=IThemeSky;Persist Security Info=True;User ID=ithemesky;Password=Justdb2010"
  />
  <appSettings>
    <add key="ThemeFilePath" value="E:\Data\"/>
  </appSettings>
</configuration>